	*{
		box-sizing: border-box;
		margin: 0px;
		padding: 0px;
	}

	h1 {
		margin-top: 16px;
		margin-bottom: 16px;
		font-family: Helvetica;
		font-size: 150%;
		font-weight: 800;
		text-align: center;
	}

	#box {
		background-color: #E1E1E1;
		border: 1px solid black;
		height: 216px;
		padding-top: 24px;
		position: relative;
		top: 0px;
		margin-right: 12px;
		margin-left: 12px;
		margin-bottom: 12px;
	}

	#p1 {
		background-color: #FFC177;
		border: 1px solid black;
		position: absolute;
		top: -1px;
		right: -1px;
		font-family: Helvetica;
		font-size: 125%;
		font-weight: 700;
		margin-bottom: 12px;
		width: 140px;
		height: auto;
		text-align: center;
	}

	#p2 {
		background-color: #77A2FF;
		border: 1px solid black;
		position: absolute;
		top: -1px;
		right: -1px;
		font-family: Helvetica;
		font-size: 125%;
		font-weight: 700;
		margin-bottom: 12px;
		width: 140px;
		height: auto;
		text-align: center;
	}

	#p3 {
		background-color: #FF77BD;
		border: 1px solid black;
		position: absolute;
		top: -1px;
		right: -1px;
		font-family: Helvetica;
		font-size: 125%;
		font-weight: 700;
		margin-bottom: 12px;
		width: 140px;
		height: auto;
		text-align: center;
	}

	#p {
		font-family: Helvetica;
		font-size: 100%;
		font-weight: 500;
		padding: 8px;
	}

	#row {
		width: 100%;
	}

	@media (min-width: 992px) {
		.col-lg-4 {
			float: left;
		}
	  .col-lg-4 {
	    width: 33.33%;
	  }
	}

	@media (min-width: 768px) and (max-width: 1199px) {
		.col-md-6, .col-md-12 {
			float: left;
		}
	  .col-md-6 {
	    width: 50%;
		}
	  .col-md-12 {
	    width: 100%;
		}
	}

	@media (min-width: 0px) and (max-width: 767px) {
		.col-sm-12 {
			float:left;
		}
	  .col-sm-12 {
	    width: 100%;
		}
	}